 h1
            {
                position:relative;
                left:400px;
                font-size:300%;
            }
            nav
            {
                position:relative;
                left:100px;
            }
            a
            {
                text-decoration : none;
                color : #000000;
                font-size:130%
            }
            img
            {
                position:absolute;
                left:100px;
            }
            table
            {
                position:relative;
                left:100px;
                text-align:center;
                font-size:150%
            }